header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* Asegura que esté por encima de otros elementos */
}

.home-page {
    font-family: 'Cal Sans', sans-serif;
    max-width: 450px;
    margin: auto;
}

.bg-lightened-dark {
    background: linear-gradient(45deg, #f9ce66, #b08b07, #33312f) !important;
}

.nav-text {
    color: #33312f !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    color: #33312f !important;
}

.bg-show {
    background: 
        linear-gradient(
            to top,
            #33312f,
            rgba(0, 0, 0, 0.2), /* Negro semitransparente */
            rgba(0, 0, 0, 0.5)
        ),
        url('https://collect.fifa.com/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Fprod-fifa-cms-storage%2F0bb6922d-dd4a-4e1a-a46e-1965f99330e6.png&w=3840&q=75');
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.nav-anchor {
    color: whitesmoke;
    text-decoration: none;
    padding-top: 12px;
    margin-bottom: 0px !important;
    padding-bottom: 10px;
}

.nav-anchor:active {
    background-color: #f9ce66;
    color:#33312f;
}

.gradient-text {
  background: linear-gradient(45deg, #f9ce66, #b08b07, #f9ce66);
  -webkit-text-fill-color: transparent;
}

.home-logo {
    color: linear-gradient(45deg, #f9ce66, #b08b07, #f9ce66);
}
